<nav> <!-- navbar content here  -->

  <ul id="slide-out" class="sidenav">
    <li><div class="user-view">
      <div class="background">
        <img src="{{url_for('static', filename='images/back.jpg')}}">
      </div>
      <a href="{{url_for('directory.home')}}"><img class="circle" src="{{url_for('static', filename='images/logo.jpg')}}"></a>
      <a href="#name"><span class="white-text name">Tim Farm</span></a>
      <a href="#email"><span class="white-text email">njorogogetimk@gmail.com</span></a>
    </div></li>
    {% if session.logged_in %}
      <li><a href="{{url_for('directory.logout')}}"><img class="circle" src="{{url_for('static', filename=session.imageurl)}}" alt="farmer" height="40px">Sign out</a></li>
    {% else %}
      <li><a href="{{url_for('directory.login')}}"><i class="material-icons">person</i> Sign in</a></li>
    {% endif %}
    <li><a href="#!">About</a></li>
    <li><div class="divider"></div></li>

    <ul class="collapsible">
      <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>Animal Farm</div>
        <div class="collapsible-body"><span><a href="{{url_for('directory.get_animals')}}">Livestock List</a></span></div>
        <div class="collapsible-body"><span><a href="{{url_for('directory.add_animal')}}">Add an animal</a></span></div>

      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">place</i>The Garden</div>
      </li>
      <li>
        <div class="collapsible-header"><i class="material-icons">whatshot</i>Store</div>
      </li>
    </ul>

  </ul>
  <a href="#" data-target="slide-out" class="sidenav-trigger"><i class="material-icons">menu</i></a>
</nav>
