<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Administrator</title>
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Import Materialize Stylesheet -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/materialize.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
  </head>
  <body>
    <header>
      <nav class="top-nav white-text">
        <div class="container">
          <div class="nav-wrapper">
            <div class="row">
              <div class="col s12 m10 offset-m1">
                <h1 class="header">Administrator</h1>
              </div>
            </div>
          </div>
        </div>
      </nav>
      {% include 'includes/_sidenav.html' %}
    </header>
    <main>
      <div class="container">
        {% include 'includes/_messages.html' %}
      </div>
      {% block container %}
      {% endblock %}
    </main>



    <script src="{{ url_for('static', filename='js/materialize.min.js') }}" charset="utf-8"></script>
    <script src="{{ url_for('static', filename='js/custom.js') }}" charset="utf-8"></script>
  </body>
</html>
