{% extends 'base.html' %}

{% block container %}
  <div class="container">
    <h2 class="center">{{livestock.name}} record</h2>
    <table class="centered responsive-table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Family</th>
          <th>Gender</th>
          <th>Age</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{livestock.name}}</td>
          <td>{{livestock.animal.name}}</td>
          <td>
            {% if livestock.gender %}
              Male
            {% else %}
              Female
            {% endif %}
          </td>
          <td>{{livestock.age}}</td>
          <td><a href="{{url_for('directory.update', family=livestock.animal.name, name=livestock.name)}}" class="btn">Update</a></td>
          <td><a href="{{ url_for('directory.deleteAnimal', family=livestock.animal.name, name=livestock.name)}}" class="btn danger">Delete</a></td>
        </tr>
      </tbody>
    </table>
    <a href="{{url_for('directory.get_animals')}}"><i class="material-icons small">navigate_before</i></a>
    <!-- <div class="clearfix"></div> -->
    <a href="{{url_for('directory.add_animal')}}" class="right"><i class="material-icons small blue-text">add</i></a>
  </div>

{% endblock %}
