{% extends 'base.html' %}

{% block container%}
  <div class="container">
    <h2 class="center">Update <small>{{livestock.name}}</small> record</h2>
    <table class="centered responsive-table">
      <thead>
        <tr>
          <th>Family</th>
          <th>Gender</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{livestock.animal.name}}</td>
          <td>
            {% if livestock.gender %}
              Male
            {% else %}
              Female
            {% endif %}
          </td>
        </tr>
      </tbody>
    </table>
    <form class="col s12" action="{{ url_for('directory.update', family=livestock.animal.name, name=livestock.name ) }}" method="POST" role="form" id="create">
      <div class="input-field col s6">
        <input name="name" id="name" type="text" class="validate" value="{{livestock.name}}">
        <label for="name">Name</label>
      </div>
      <div class="input-field col s16">
        <input id="age" name="age" type="text" class="validate" value="{{livestock.age}}">
        <label for="age">Age</label>

      </div>

      <div class="col s12">
        <button class="btn waves-effect waves-light" type="submit">Update <i class="material-icons right">send</i></button>
      </div>

    </form>
  </div>
{% endblock %}
