/* Navigation Styling */
/* Make the side nav appear on all screen sizes; overide materialize */
@media only screen and (min-width: 993px) {
  nav a.sidenav-trigger {
    display:inherit!important;
  }
}

/* Nav Color */
nav{
  background-color: green;
}

#slide-out{
  background: green;
}

.sidenav a, .sidenav i{
  color: white !important;
}
.sidenav .collapsible-body{
  color: black;
  padding-left: 40px;
  padding-right: 40px;
}
.sidenav .collapsible-body a{
  border-radius: 24px;
  background-color: #388e3c;
}
.sidenav .collapsible .active .collapsible-body{
  background-color: #43a047;
}
/* Collapsible List Body */
.families .collapsible-body{
  padding: 4px;
  /* border: 1px solid black; */
  font-size: 2em;
}
.families.collapsible-body span{
  border-radius: 25px;
}

/* Buttons */
.btn,.btn-large,.btn-small,.btn-flat{
  text-transform: none;
}


/* Flash Messages */
.success, .danger, .error, .msg{
  padding: 7px;
  margin: 10px;
  border-radius: 30px;
}
.success{
  background-color: #9ccc65;
}
.danger{
  background-color: red;
}
.error{
  background-color: red;
}
.msg{
  background-color: blue;
}

/* Content section div */
.content{
  padding: 5px;
  border-radius: 10px;
}
