/* Navigation Styling */
/* Make the side nav appear on all screen sizes; overide materialize */
@media only screen and (min-width: 993px) {
  nav a.sidenav-trigger {
    display:inherit!important;
  }
}

/* Nav Color */
nav, top-nav{
  background-color: green !important;
}

#slide-out{
  background: green;
}

.sidenav a, .sidenav i{
  color: white !important;
}
.sidenav .collapsible-body{
  color: black;
  padding-left: 40px;
  padding-right: 40px;
}
.sidenav .collapsible-body a{
  border-radius: 24px;
  background-color: #388e3c;
}
.sidenav .collapsible .active .collapsible-body{
  background-color: #43a047;
}
/* Collapsible List Body */
.families .collapsible-body{
  padding: 4px;
  /* border: 1px solid black; */
  font-size: 2em;
}
.families.collapsible-body span{
  border-radius: 25px;
}

/* Buttons */
.btn,.btn-large,.btn-small,.btn-flat{
  text-transform: none;
}


/* Flash Messages */
.success, .danger, .error, .msg{
  padding: 7px;
  margin: 10px;
  border-radius: 30px;
}
.success{
  background-color: #9ccc65;
}
.danger{
  background-color: red;
}
.error{
  background-color: red;
}
.msg{
  background-color: blue;
}

/* Content section div */
.content{
  padding: 5px;
  border-radius: 10px;
}


/* Footer */
footer{
  border-radius: 20px;
  padding: 7px;
  font-size: 1.2em;
}


/* Admin dashboard */
/* Top nav */
nav.top-nav {
 height:110px;
 -webkit-box-shadow:none;
 box-shadow:none;
 border-bottom:1px solid rgba(0,0,0,0.14);
 background-color:transparent
}
nav.top-nav h1.header {
 margin:0;
 padding-top:22px
}

/* header main and footer */
header, main{
 padding-left:300px
}

@media only screen and (min-width: 601px) {
 body>.page-footer>.container,
 .top-nav>.container,
 #index-banner>.container,
 .github-commit>.container {
  width:100%
 }
}

@media only screen and (max-width: 992px) {
 header, main{
  padding-left:0
 }
 h5>span {
  display:block;
  margin:0 0 15px 0
 }
}

a.sidenav-trigger.top-nav {
 position:absolute;
 text-align:center;
 height:48px;
 width:48px;
 top:28px;
 float:none;
 margin-left:1.5rem;
 color:#f3989b;
 font-size:36px;
 z-index:2
}
a.sidenav-trigger.top-nav i {
 font-size:32px
}
@media only screen and (max-width: 600px) {
 a.sidenav-trigger.top-nav {
  left:0
 }
 ul.sidenav.sidenav-fixed {
  border:0
 }
}
